@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Karla:wght@400;700&display=swap');
$tex-primary    :  'Comfortaa', sans-serif;
$tex-secondary  :'Karla', sans-serif;

$primary-color    : #FFD843 ; 
$secondary-color  : #59ADFF ;
$grey-color-dark  : #6E6E6E ; 
$grey-color       : #D1D1D1 ; 
$grey-color-light : #F3F3F3 ; 


$background-color     : $grey-color ;
$Absolute-dark-color  : #000;


